body{
    color: rgb(125, 0, 0);
    background-color: rgb(0, 0, 0);
}

h1{
    font-size: 30px;
    font-family: ;
}

img{
border-width: 80px;
border-style:solid;
border-image: url("https://watermelon.crd.co/assets/images/gallery16/c635a734.gif?v=2a41aca3") 30 fill round;
}

@font-face {
    font-family: Blackletter;
    src: url(blaceb__.ttf);
}
